@font-face {
  font-family: 'Geomanist';
  src:  url('./static/fonts/geomanist-regular-webfont.woff2'),
        url('./static/fonts/geomanist-regular-webfont.woff');
}

html {
  font-size: 16px;
}

body {
  background-attachment: fixed;
  background-image: url(./static/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Geomanist', Fallback, sans-serif;
}

.App {
  max-width: 960px;
  height: 100vh;
  margin: 2rem auto;
}

.page-title {
  color: white;
  font-size: 4rem;
  margin: 0 auto;
  text-align: center;
  font-family: 'Geomanist', Fallback, sans-serif;
  font-weight: 400;
}
